h1, h2 {
    text-align: center;
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}
h1 {
    color: rgba(0,0,0,.8);
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
}

h2 {
    color: rgba(0,0,0,.44);
    font-size: 27px;
    margin-top: 0px;
    line-height: 30px;
}
body {
  margin: 0px;
}

article {
  margin: 0 auto;
  width: 750px;
}

p{
  font-size: 21px;
  color: rgba(0,0,0,.8);
  line-height: 28px;
}

a{
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
}

img {
  width: 100%;
}
